#spinner{
    position: fixed;
    top: 0;left: 0;bottom: 0;right: 0;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-capNhap{
    display: none;
}